<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
        <dict>
            <key>imageName</key>
            <string>icon_posted</string>
            <key>title</key>
            <string>logo</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>icon_posted</string>
            <key>title</key>
            <string>知事新闻</string>
        </dict>
		<dict>
			<key>imageName</key>
			<string>icon_myfavourate</string>
			<key>title</key>
			<string>我的收藏</string>
		</dict>
        <dict>
            <key>imageName</key>
            <string>icon_setting</string>
            <key>title</key>
            <string>清除缓存</string>
        </dict>
		<dict>
			<key>imageName</key>
			<string>icon_posted</string>
			<key>title</key>
			<string>意见反馈</string>
		</dict>
        <dict>
            <key>imageName</key>
            <string>icon_myfriends</string>
            <key>title</key>
            <string>免责声明</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>icon_myfriends</string>
            <key>title</key>
            <string>关于我们</string>
        </dict>
	</array>
</plist>
